* {
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
}

$ease-in: ease-in 500ms;
body {
    background: rgb(230, 222, 222);
}

h1, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container {
    background: rgb(8, 10, 32);
    width: 80%;
    margin: auto;
    padding: 10px;
    & > div {
        &:nth-child(odd) {
            background: skyblue;
        }
        &:nth-child(even) {
            background: rgb(255, 255, 255);
        }
    }
}

header {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    color: red;
    span {
        color: rgb(236, 234, 236)
    }
    button {
        cursor: pointer;
        border-radius: 50px;
        background: rgb(241, 63, 63);
        color: rgb(254, 255, 255);
        &:hover {
            background: transparent;
            transition: $ease-in;
        }
    }
}


.text {
    text-align: center;
    margin: 40px 0 150px;
    color: white;
}

.cards {
    margin: 0 0 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    grid-auto-rows: min-max(400px, auto);
    grid-auto-columns: 300px;
    justify-items: center;
    align-items: center;
    &:nth-child(even) img{
        order: 2;
    }

    .content {
        padding: 20px;
        font-size: 15px;
        line-height: 17px;
    }
    h3 {
        margin-bottom: 20px;
    }
    
    img {
        background-size: cover;
        width: 100%;
        height: 350px;
    }

    button {
        cursor: pointer;
        background: black;
        color: white;
        padding: 10px;
        margin-top: 10px;
        border-radius: .4em;
        &:hover {
            background: rgb(228, 211, 211);
            color: rgb(6, 7, 17);
            transition: $ease-in;
        }
    }
}

@media (max-width:700px) {
    .cards {
        display: block;
        margin: 15px 30px;
        img {
            height: 200px;
            width: 100%
        }
        .content {
            padding: 5px;
        }
    }

    header {
        display: block;
        button {
            float: right;
            padding: 5px;
        }
    }

}

@media (max-width:500px) {
    .content {
        height: minmax(200px, auto);
        font-size: 16px;
    }
    .cards {
        h3 {
            color: red;
            margin: 5px;
        }
        button {
            padding: 5px;
        }
    }
}